numpy
pandas
scikit-learn
ccxt~=2.9.10
aiohttp

websockets
SQLAlchemy
python-dotenv
joblib
arch
ta
oandapyV20
qasync
xgboost

# GUI
pyqtgraph
qasync
pyside6
reportlab
matplotlib
celery
keyring
hmmlearn